signout-venv
bot.log
__pycache__
.bash_history
.bash_logout
.bashrc
.gitconfig
.lesshst
.profile
.sudo_as_admin_successful
.wget-hsts
tools.*
history.*
.bot-*
history.csv.*


# Environment file with secrets
.env
.env.*

# Database backups
backups/

.venv/
